
.invoice {
    font-family: Arial;
    font-size: 80%;
    border: 3px solid #aaa;
    width: 900px;
    padding: 60px;
}

.invoice #logo {
    text-align: right;
}

.dialog {
    border: 3px solid #000;
    display: none;
    background-color: white;
    padding: 10px 30px;
}

.invoice #items {
}

.invoice #items td {
    border: 1px solid #aaa;
    vertical-align: bottom;
}

.invoice #items td.item { width: 60%; }
.invoice #items td.price { width: 15%; }
.invoice #items td.quantity { width: 10%; }
.invoice #items td.ext_price { width: 15%; }

.invoice #items td.delete,
.invoice #items td.concealed {
    display: none;
}

.invoice #items td.blank {
    border: none;
}

.numeric {
    text-align: right;
}

.edit:hover {
    background-color: #EEFF88;
}
