
.editable {
    border: 1px dashed #fc0;
    margin: -1px;
}

.editable:hover {
    background-color: #ffc;
    border: 1px solid #fc0;
    margin: -1px;
}

.editable-empty {
    padding: 9px 0;
    margin: -1px;
    border: 1px dashed #fc0;
}

.textarea textarea {
    height: 60px;
    padding: 3px;
}

.box {
    border:1px solid #ccc;
    padding:5px;
    display:block;
    width:95%;
}

.invoice {
    font-family: Arial;
    font-size: 100%;
    margin: 0px;
    padding: 0;
}

.dialog {
    border: 3px solid #000;
    display: none;
    background-color: white;
    padding: 10px 30px;
}

.numeric {
    text-align: right;
}

.edit:hover {
    background-color: #EEFF88;
}

.bold {
    font-weight: bold;
    border: 1px solid #666 !important;
}
#invoice-wrapper {
    height: 800px;
    width: 800px;
    margin: 0 auto;
}

#invoice-wrapper>div {
    /* border: 1px solid #fdd; */
    vertical-align: top;
}
#invoice-wrapper #logo {
    height: 100px;
}
#invoice-wrapper #logo img {
    float: right;
}
#invoice-wrapper #header {
    height: 220px;
}
#invoice-wrapper #header table {
    width: 100%;
}
#invoice-wrapper #header td {
    width: 33%;
}
#invoice-wrapper #terms {
    height: 100px;
}
#invoice-wrapper #body {
    height: 700px;
}
#invoice-wrapper #footer {
    border-top: 1px solid #aaa;
    text-align: center;
}

.invoice #items th {
    font-weight: normal;
}

.invoice #items th,
.invoice #items td {
    border: 1px solid #ddd;
    vertical-align: bottom;
}

.invoice #items td.item { width: 60%; }
.invoice #items td.price { width: 15%; }
.invoice #items td.quantity { width: 10%; }
.invoice #items td.ext_price { width: 15%; }

.invoice #items td.delete,
.invoice #items td.concealed {
    display: none;
}

.invoice #items th.blank,
.invoice #items td.blank {
    border: none;
}

