*.pyc
.DS_Store
test_project/media/*
*.pyo
.installed.cfg
.pydevproject.bak
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
env
invoicer/stylesheets/*
*.sublime-workspace
project/media/invoicer/company/*
