{% extends "base.html" %}
{% load i18n invoicer_tags %}

{% block title %}{% trans 'Invoice' %} {{invoice.number}}/{{invoice.year}}{% endblock %}

{% block stylesheet %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}js/lightface/css/LightFace.css" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/invoice.css" />
    <style type="text/css" media="print">
        <!--
        #invoice-container {
            border: 0;
            margin: 0;
            padding: 0;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            height: 0;
        }

        .messagelist,
        .link-button,
        .delete-row input {
            display: none;
        }
        -->
    </style>
    <style type="text/css" media="screen">
        <!--
        #Xinvoice-wrapper>div {
            border: 3px solid #fdd;
            margin: -3px;
        }
        .editable {
            background-color: #ffd;
        }

        .editable-empty {
            padding: 9px 0;
        }
        -->
    </style>
{% endblock %}

{% block body_class %}invoice{% endblock %}

{% block header %}{% endblock %}
{% block nav %}{% endblock %}
{% block footer %}{% endblock %}
{% block scripts %}{{ block.super }}

<script src="{{ MEDIA_URL }}js/mootools-core-1.3.2.js"></script>
<script src="{{ MEDIA_URL }}js/mootools-more-1.3.2.1.js"></script>

<script src="{{ MEDIA_URL }}js/lightface/LightFace.js"></script>
<!--
<script src="{{ MEDIA_URL }}js/lightface/LightFace.IFrame.js"></script>
<script src="{{ MEDIA_URL }}js/lightface/LightFace.Image.js"></script>
<script src="{{ MEDIA_URL }}js/lightface/LightFace.Request.js"></script>
<script src="{{ MEDIA_URL }}js/lightface/LightFace.Static.js"></script>
-->

<script type="text/javascript">

    // Show a simple message box with required message
    displayMessage = function(title, message) {
        var messageBox = new LightFace({
            width: 550,
            height: 170,
            draggable: true,
            title: title,
            content: message,
            buttons: [
                { title: "{% trans 'Close' %}", event: function() { this.close(); } }
            ]
        });
        messageBox.open();
    },

    number_format = function(value, numDecimals) {
        if (!$defined(numDecimals)) numDecimals = 2;
        text = value.toFixed(numDecimals);
        // now add thousands separators
        x = text.split('.');
        x1 = x[0];
        x2 = x.length > 1 ? '.' + x[1] : '';
        var rgx = /(\d+)(\d{3})/;
        while (rgx.test(x1)) {
            x1 = x1.replace(rgx, '$1' + ',' + '$2');
        }
        return x1 + x2;
    },

    number_parse = function(text) {
        // remove thousand separators
        text = text.replace(/,/gi, '');
        return parseFloat(text);
    },

    // Replace <br> with newlines
    br2nl = function(text) {
        text = text.replace(/\n/gi, ''); // remove newlines
        return text.replace(/<br[\s\/]?>/gi, '\n');
    },

    // Replace newlines with <br>s
    nl2br = function(text) {
        text = text.replace(/<br[\s\/]?>/gi, ''); // remove <br/>s
        return text.replace(/\n/gi, '<br />');
    },

    // Normalize field value (from input or textarea) according to server requirements
    adjustFieldValuesForServer = function(element, value) {
        // convert <br> to newline
        value = br2nl(value);
        if ( element.hasClass('numeric') ) {
            // remove commas used as thousand separators
            value = value.replace(/,/gi, '');
        }
        return value;
    },

    // Sumbimt invoice values to server for editing
    editInvoice = function(element, oldValue, newValue) {

        var data = {};

        // gather data for invoice
        var invoice_fields = $$(".invoice_field");
        invoice_fields.each(function(field){
            var id = field.get("id");
            // convert <br> to newline
            if (id) data[id] = adjustFieldValuesForServer(field, field.get("html"));
        });

        // gather the data for each item row
        var trs = $$("tr.item-row");
        trs.each(function(tr){
            data[tr.get("id")] = tr.get("name");
            var tds = tr.getChildren("td");
            tds.each(function(td){
                var id = td.get("id");
                // convert <br> to newline
                if (id) data[id] = adjustFieldValuesForServer(td, td.get("html"));
            });
        });

        //add in the required formset fields
        data["{{formset.management_form.TOTAL_FORMS.html_name}}"] = document.id("id_{{ formset.management_form.TOTAL_FORMS.html_name }}").get("value");
        data["{{formset.management_form.INITIAL_FORMS.html_name}}"] = document.id("id_{{ formset.management_form.INITIAL_FORMS.html_name }}").get("value");

        // eventually adjust newValue
        if ( element.hasClass('numeric') ) {
            // remove commas used as thousand separators
            newValue = newValue.replace(/,/gi, '');
        }

        // update value for selected element
        data[element.get("id")] = newValue;

        //send along the id and value so we know what was edited
        data["_element_id"] = element.get("id");
        data["_element_class"] = element.get('class');
        data["_value"] = newValue;

        //correct for false == empty logic in django form processing
        for (key in data) {
            if (key.indexOf("taxable") !== -1 && data[key] !== "Y"){
                data[key] = "";
            }
        }

        // submit the data
        var url = "{% url invoicer:edit_invoice invoice.year invoice.number %}";
        var request = new Request.JSON({
            url:url,
            method:'post',
            data:data,
            onSuccess: function(result){
                processEditInvoiceResult(result);
            }.bind(this),
            onFailure: function(result){
                //alert('failure:' + result.responseText);
                displayMessage("{% trans 'ERROR' %}", result.responseText);
            }.bind(this)
        }).send();
    },

    // Process result after successfull Ajax invoice update
    processEditInvoiceResult = function(result) {
        if ( result.status=='success') {
            var element = document.id(result.element_id);
            // convert newline to <br>
            var text = nl2br(result.value);
            element.set('html', text);
            if ( element.hasClass('recalc') ) {
                recalcRow(element);
            }
            updateDueDatePrompt();
        }
        else {
            var text = "";
            for ( var key in result.errors ) {
                if (key.length>0 ) text += key + ': ';
                text += result.errors[key] + '<br />';
            }
            displayMessage("{% trans 'ERROR' %}", text);
        }
    },

    // Update invoice row on client
    recalcRow = function(element) {
        var parent = element.getParent();
        var price = number_parse(parent.getElement('.price').get('text'));
        var quantity = number_parse(parent.getElement('.quantity').get('text'));
        var ext_price = price * quantity;
        parent.getChildren(".price").set('text', number_format(price));
        parent.getChildren(".quantity").set('text', number_format(quantity));
        parent.getChildren(".ext_price").set('text', number_format(ext_price));
        calculateTotals();
    },

    // Update invoice totals on client
    calculateTotals = function() {
        var table = document.id('items');
        var tax_rate = number_parse(table.getElement('span.tax_rate').get('text')) / 100.0;
        var subtotal = 0.0;
        var tax = 0.0;

        var trs = table.getElements("tr.item-row");
        trs.each(function(row) {
            var ext = number_parse(row.getElement('.ext_price').get('text'));
            var taxable = row.getElement('.taxable').get('text');
            if ( taxable == "Y" ) {
                tax += ext * tax_rate;
            }
            subtotal += ext;
        });

        table.getElement('.total-value.subtotal').set('text', number_format(subtotal));
        table.getElement('.total-value.tax').set('text', number_format(tax));
        table.getElement('.total-value.total').set('text', number_format(subtotal+tax));
    },

    // Collect ids of rows to be deleted
    collectRowsToDeleteIds = function() {
        var ids = [];
        var delete_row_checkboxes = $$("tr.item-row .delete-row input[type=checkbox]");
        delete_row_checkboxes.each(function(checkbox){
            if (checkbox.get('checked')) {
                ids.include(parseInt(checkbox.get('name')));
            }
        });
        return ids;
    },

    // Ask to server to delete rows, then reload page
    deleteRows = function() {
        var ids = collectRowsToDeleteIds();
        var data = {};
        //data['ids'] = JSON.encode(ids);
        data['line_item_ids'] = ids.toString();
        var url = "{% url invoicer:delete_lines invoice.year invoice.number %}";
        var request = new Request({
            url:url,
            method:'post',
            data: data,
            onSuccess: function(result){
                window.location.reload(false);
            }.bind(this),
            onFailure: function(result){
                displayMessage("{% trans 'ERROR' %}", result.responseText);
            }.bind(this)
        }).send();
    },

    updateDueDatePrompt = function() {
        if ( document.id('due_date').get('text').length > 0 ) {
            document.id('due_date_prompt').removeClass('hidden');
        }
        else {
            document.id('due_date_prompt').addClass('hidden');
        }
    },

    // Modal box for new row editing
    AddRowModalBox = new Class({
        Extends: LightFace,
        options: {
            url: ''
        },
        initialize: function(options) {
            this.setOptions(options);
            props = {
                width: 550,
                height: 170,
                draggable: true,
                title: "{% trans 'Add row' %}",
                buttons: [
                    { title: 'Cancel', event: function() { this.close(); } },
                    { title: 'Add', color: 'blue', event: function() { var form = this.box.getElement('#add-form'); form.submit(); }}
                ]
            };
            this.parent(props);
            this.open();
            this.load(document.id('add-modal').get('html'));
            var request = new Request.HTML({
                url: this.options.url,
                method: 'get',
                onSuccess: function(tree, elements, html) {
                    var container = $$('.lightfaceMessageBox .container');
                    container.set('html', html);
                    var ctrl = this.box.getElement('#id_name');
                    ctrl.setAttribute('tabIndex',0);
                    ctrl.focus();
                }.bind(this)
            });
            request.send();
        }
    }),

    // Message box to confirm rows deletion
    ConfirmDeleteRowsModalBox = new Class({
        Extends: LightFace,
        options: {
            url: ''
        },
        initialize: function(options) {
            this.setOptions(options);
            props = {
                width: 550,
                height: 170,
                draggable: true,
                title: "{% trans 'Delete rows' %}",
                buttons: [
                    { title: 'Cancel', event: function() { this.close(); } },
                    { title: 'OK', color: 'blue', event: function() { this.close(); deleteRows(); }}
                ]
            };
            this.parent(props);
            this.open();
            this.load(document.id('confirm-delete').get('html'));
        }
    }),

    window.addEvent('domready', function() {

        $$('.editable').each(function(el) {

            if ( {{invoice.locked|lower}} ) {
                el.removeClass('editable');
            }
            else {
                // Find and setup the editable areas;
                // adapted from http://davidwalsh.name/editable-content-mootools-php-mysql

                if ( el.get('text')=='' ) {
                    el.addClass('editable-empty');
                }
                //add double-click and blur events
                el.addEvent('dblclick',function() {
                    //store "before" message
                    var before = el.get('html');
                    //erase current
                    el.set('html','');
                    //replace current text/content with input or textarea element
                    if(el.hasClass('textarea'))
                    {
                        // replace <br> with newlines
                        var input = new Element('textarea', { 'class':'editbox', 'html':br2nl(before) });
                        input.store('before', before);
                        input.addEvent('keydown', function(e) { if(e.key == 'esc') { this.store('cancelled', 1); this.fireEvent('blur'); } });
                    }
                    else
                    {
                        var input = new Element('input', { 'class':'editbox', 'value':before });
                        input.store('before', before);
                        //blur input when they press "Enter"
                        input.addEvent('keydown', function(e) { if (e.key=='esc') this.store('cancelled',1); if(e.key=='enter' || e.key=='esc') { this.fireEvent('blur'); } });
                    }
                    input.inject(el).select();
                    //add blur event to input
                    input.addEvent('blur', function() {
                        if ( this.retrieve('cancelled',0) ) {
                            el.set('html', this.retrieve('before', ''));
                            return;
                        }
                        var oldValue = this.retrieve('before','');
                        var newValue = input.get('value');
                        //get value, place it in original element
                        el.set('html',oldValue).addClass(newValue != '' ? '' : 'editable-empty');
                        editInvoice(el, oldValue, newValue);
                    });
                });
            }
        });

        {% if not invoice.locked %}
            // "Delete row" checkboxes
            $$("tr.item-row .delete-row input[type=checkbox]").each(function(checkbox){
                checkbox.set('checked',false);
                checkbox.addEvent('click', function(){
                    var row = this.getParent().getParent();
                    if (checkbox.get('checked')) {
                        row.addClass('to-be-deleted');
                    }
                    else {
                        row.removeClass('to-be-deleted');
                    }
                });
            });

            // "Add row to invoice" tool
            document.id('add-row-button').addEvent('click',function(e){
                e.stop();
                var url = '{% url invoicer:add_line invoice.year invoice.number %}';
                var myBox = new AddRowModalBox({
                    url: url
                });
            });

            // "Remove rows form invoice" tool
            document.id('delete-rows-button').addEvent('click',function(e){
                e.stop();
                if ( collectRowsToDeleteIds().length ) {
                    var url = '{% url invoicer:add_line invoice.year invoice.number %}';
                    var myBox = new ConfirmDeleteRowsModalBox({
                        url: url
                    });
                }
            });
        {% endif %}

        updateDueDatePrompt();
    });

</script>
{% endblock %}

{% block content %}

    {% if messages %}
    <ul class="messagelist">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <div id="invoice-container">
    <div id="invoice-wrapper">
        <div id="logo">
            {% if not invoice.locked %}
                <div id="draft">
                    {% trans 'Draft'|upper %}
                </div>
            {% endif %}
            <img alt="{{invoice.company.name}}" src="{{invoice.company.logo.url}}" />
        </div>
        <div id="header">
            <table>
                <tbody>
                <tr>
                    <td>
                        <div>
                            {{invoice.location}},
                            <span id="invoice_date" class="invoice_field editable date">{{invoice.invoice_date|date:date_format}}</span>
                        </div>
                        <div>{% trans 'Invoice #' %} {{invoice.number}}/{{invoice.year}}</div>
                        <br />
                        <div>{% trans 'Customer' %}:</div>
                        <div class="client-name">{{invoice.client.name}}</div>
                        {% if invoice.client.vat_id %}
                            <div>{% trans 'VAT ID' %}: {{invoice.client.vat_id}}</div>
                        {% endif %}
                        {% if invoice.client.fiscal_code %}
                            <div>{% trans 'Fiscal Code' %}: {{invoice.client.fiscal_code}}</div>
                        {% endif %}
                        <div id="left_address" class="invoice_field editable textarea">{{invoice.left_address|linebreaksbr}}</div>
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <div class="client-name">{{invoice.client.name}}</div>
                        <div id="right_address" class="invoice_field editable textarea">{{invoice.right_address|linebreaksbr}}</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="body">
            {{ formset.management_form }}
            <input type="hidden" id="trigger-row-id" value="" />
            <table id="items">
                <thead>
                <tr>
                    <th class="item" >&nbsp;</th>
                    <th class="price">{% trans 'Unit price' %}</th>
                    <th class="quantity">{% trans 'Quantity' %}</th>
                    <th class="ext_price">{% trans 'Total price' %}</th>
                    {%if not compact%}
                        <th class="taxable blank">{% trans 'Taxable' %}</th>
                    {%endif%}
                    <th class="delete blank">&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                {% for form in formset.forms %}
                    <tr id="{{form.id.html_name}}" name="{{form.instance.id}}" class="item-row">
                        <td id="{{form.name.html_name}}" class="name editable textarea">{{form.initial.name|linebreaksbr}}</td>
                        <td id="{{form.price.html_name}}" class="numeric price editable recalc">{{ form.initial.price|floatformatex:2 }}</td>
                        <td id="{{form.quantity.html_name}}" class="numeric quantity editable recalc">{{ form.initial.quantity|floatformatex:2 }}</td>
                        <td class="numeric ext_price">{{ form.instance.ext_price|floatformatex:2 }}</td>
                        <td id="{{form.taxable.html_name}}" class="taxable editable recalc {%if compact%}concealed{%endif%}">{{ form.initial.taxable|yesno:"Y,N" }}</td>
                        <!-- <td id="{{form.DELETE.html_name}}" class="delete-row blank"> -->
                        <td class="delete-row blank">
                            <input type="checkbox" name="{{form.instance.id}}"></input>
                        </td>
                        <td id="{{form.position.html_name}}" class="position blank">{{form.initial.position}}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td class="blank" style="text-align: left">
                        {% if invoice.locked %}
                            &nbsp;
                        {% else %}
                            <a href="#" class="link-button" id="add-row-button">{% trans 'Add' %}</a>
                        {% endif %}
                    </td>
                    <td colspan="3" class="blank">&nbsp;</td>
                    {%if not compact%}
                        <td class="blank">&nbsp;</td>
                    {% endif %}
                    <td class="blank">
                        {% if invoice.locked %}
                            &nbsp;
                        {% else %}
                            <a href="#" class="link-button" id="delete-rows-button">{% trans 'Del' %}</a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td class="blank"> </td>
                    <td colspan="2" class="total-line">{% trans 'Net total' %}</td>
                    <td class="numeric total-value subtotal">{{ invoice.subtotal|floatformatex:2 }}</td>
                    <td colspan="2" class="blank"> </td>
                </tr>
                <tr>
                    <td class="blank"> </td>
                    <td colspan="2" class="total-line">{% trans 'VAT' %} (<span class="tax_rate">{{ invoice.company.tax_rate }}</span>%)</td>
                    <td class="numeric total-value tax">{{ invoice.tax|floatformatex:2 }}</td>
                    <td colspan="2" class="blank"> </td>
                </tr>
                <tr>
                    <td class="blank"> </td>
                    <td colspan="2" class="total-line bold">{% trans 'Total'|upper %}</td>
                    <td class="numeric total-value total bold">{{ invoice.total|floatformatex:2 }}</td>
                    <td colspan="2" class="blank"> </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="bottom">
            <table>
                <tr>
                    <td><span id="due_date_prompt">{% trans 'Due date' %}:</span>&nbsp;</td>
                    <td id="due_date" class="invoice_field editable date">{{invoice.due_date|date:date_format}}</td>
                </tr>
            </table>
        </div>
        <div id="terms" class="invoice_field editable textarea">{{invoice.terms|linebreaksbr}}</div>
        <div id="footer">
            {{ invoice.footer|linebreaksbr }}
        </div>
    </div>
    </div>

    <div id="confirm-delete" class="dialog">
        <p>{% trans 'Deleted rows will be permanently removed and cannot be recovered. Are you sure?' %}</p>
    </div>

    <div id="add-modal" class="dialog">
        <form id="add-form" method="POST" action="{% url invoicer:add_line invoice.year invoice.number %}">
            <input type="hidden" name="invoice" value="{{ invoice.id }}" />
            <table class="container"></table>
        </form>
    </div>

{% endblock %}
