{% extends "base.html" %}
{% load i18n %}

{% block title %}Invoice {{invoice.number}}/{{invoice.year}}{% endblock %}

{% block stylesheet %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}js/jqueryui/1.7/themes/base/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/invoice.css" />
    <!-- <link rel="stylesheet" type="text/css" href="{{ stylesheet.stylesheet.url }}" /> -->
{% endblock %}

{% block body_class %}invoice{% endblock %}

{% block header %}{% endblock %}
{% block nav %}{% endblock %}
{% block footer %}{% endblock %}
{% block scripts %}{{ block.super }}
<script type = "text/javascript" src = "{{ MEDIA_URL }}/js/jqueryui/1.7/jquery-ui.min.js"></script>
<script src="{{ MEDIA_URL }}js/jquerytools/1.1.2/tiny/jquery.tools.min.js"></script>

<script src="{{ MEDIA_URL }}js/mootools-core-1.3.2.js"></script>
<script src="{{ MEDIA_URL }}js/mootools-more-1.3.2.1.js"></script>
<script type="text/javascript">

    editInvoice = function(element, oldValue, newValue) {

        var data = {};

        // gather data for invoice
        var invoice_fields = $$(".invoice_field");
        invoice_fields.each(function(field){
            var id = field.get("id");
            if (id) data[id] = field.get("text");
        });

        // gather the data for each item row
        var trs = $$("tr.item-row");
        trs.each(function(tr){
            data[tr.get("id")] = tr.get("name");
            var tds = tr.getChildren("td");
            tds.each(function(td){
                var id = td.get("id");
                if (id) data[id] = td.get("text");
            });
        });

        //add in the required formset fields
        data["{{formset.management_form.TOTAL_FORMS.html_name}}"] = document.id("id_{{ formset.management_form.TOTAL_FORMS.html_name }}").get("value");
        data["{{formset.management_form.INITIAL_FORMS.html_name}}"] = document.id("id_{{ formset.management_form.INITIAL_FORMS.html_name }}").get("value");

        // update value for selected element
        data[element.get("id")] = newValue;

        //send along the id and value so we know what was edited
        data["_element_id"] = element.get("id");
        data["_value"] = newValue;

        //correct for false == empty logic in django form processing
        for (key in data) {
            if (key.indexOf("taxable") !== -1 && data[key] !== "Y"){
                data[key] = "";
            }
        }

        // submit the data
        var url = "{% url invoicer:edit_invoice invoice.year invoice.number %}";
        var request = new Request.JSON({
            url:url,
            method:'post',
            onSuccess: function(result){
                alert(result.value);
            }.bind(this),
            onFailure: function(result){
                element.set('text', oldValue);
                alert('failure');
            }.bind(this)
        }).send();
    }

    // adapted from http://davidwalsh.name/editable-content-mootools-php-mysql
    window.addEvent('domready', function() {
        //find the editable areas
        $$('.xeditable').each(function(el) {
            //add double-click and blur events
            el.addEvent('dblclick',function() {
                //store "before" message
                var before = el.get('html').trim();
                //erase current
                el.set('html','');
                //replace current text/content with input or textarea element
                if(el.hasClass('textarea'))
                {
                    var input = new Element('textarea', { 'class':'box', 'text':before });
                    input.store('before', before);
                    input.addEvent('keydown', function(e) { if(e.key == 'esc') { this.store('cancelled', 1); this.fireEvent('blur'); } });
                }
                else
                {
                    var input = new Element('input', { 'class':'box', 'value':before });
                    input.store('before', before);
                    //blur input when they press "Enter"
                    input.addEvent('keydown', function(e) { if (e.key=='esc') this.store('cancelled',1); if(e.key=='enter' || e.key=='esc') { this.fireEvent('blur'); } });
                }
                input.inject(el).select();
                //add blur event to input
                input.addEvent('blur', function() {
                    if ( this.retrieve('cancelled',0) ) {
                        el.set('text', this.retrieve('before', ''));
                        return;
                    }
                    val = input.get('value').trim();
                    //get value, place it in original element
                    el.set('text',val).addClass(val != '' ? '' : 'editable-empty');
                    editInvoice(el, this.retrieve('before',''), val);
                });
            });
        });
    });

</script>

<script type="text/javascript">
$(function(){
    var indicator = 'Saving...',
        rows = jQuery("#items tr.item-row"),
        renumber_rows = function () {
            var table = jQuery("#items");
            table.find("tr.item-row").each(function (i){
                var row = jQuery(this),
                    bits = row.attr("id").split("-");
                bits[1] = i;
                row.attr("id", bits.join("-"));
                row.find("td").each(function (j){
                    var td = jQuery(this),
                        pieces = td.attr("id").split("-");
                    pieces[1] = i;
                    td.attr("id", pieces.join("-"));
                });
            });
        },
        ajaxEdit = function(value, yysettings){
            var data = {};
            var td = jQuery(this);
            var trs = jQuery("tr.item-row");

            // gather data for invoice
            var invoice_fields = jQuery(".invoice_field");
            invoice_fields.each(function(){
                var field = jQuery(this);
                var input = field.find(":input");
                if ( input.length ) {
                    data[field.attr("id")] = input.attr("value");
                } else {
                    data[field.attr("id")] = field.text();
                }
            });

            //gather the data for each item row
            trs.each(function(){
                var tr = jQuery(this);
                data[tr.attr("id")] = tr.attr("name");
                var tds = tr.children("td");
                tds.each(function(){
                    var td = jQuery(this),
                        input = td.find(":input");
                    if (td.attr("id")){
                        if (input.length) {
                            if (input.attr("type") == "checkbox"){
                                if (input.attr("checked")) {
                                    data[td.attr("id")] = "delete";
                                }
                            }
                            else{
                                data[td.attr("id")] = input.attr("value");
                            }
                        }
                        else {
                            data[td.attr("id")] = td.text();
                        }
                    }
                });
            });

            //send along the id and value so we know what was edited
            data["element_id"] = td.attr("id");
            data["value"] = value;

            //correct for false == empty logic in django form processing
            for (key in data) {
                if (key.indexOf("taxable") !== -1 && data[key] !== "Y"){
                    data[key] = "";
                }
            }

            //add in the required formset fields
            data["{{formset.management_form.TOTAL_FORMS.html_name}}"] = jQuery("#id_{{ formset.management_form.TOTAL_FORMS.html_name }}").attr("value");
            data["{{formset.management_form.INITIAL_FORMS.html_name}}"] = jQuery("#id_{{ formset.management_form.INITIAL_FORMS.html_name }}").attr("value");
            var url = "{% url invoicer:edit_invoice invoice.year invoice.number %}";

            //submit the data
            var val = jQuery.ajax({
                data: data,
                url: url,
                type: "POST",
                success: function(data, status){
                    if (data.status == "success") {
                        if (data.value == "DELETE"){
                            var initial_forms = jQuery("#id_{{ formset.management_form.INITIAL_FORMS.html_name }}"),
                                total_forms = jQuery("#id_{{ formset.management_form.TOTAL_FORMS.html_name }}");
                            td.parent("tr.item-row").remove();
                            calculate_totals();
                            initial_forms.attr("value", parseInt(initial_forms.attr("value"))-1);
                            total_forms.attr("value", parseInt(total_forms.attr("value"))-1);
                            renumber_rows();
                        }
                        td.removeClass("error").text(data.value);
                    }
                    else{
                        td.addClass("error").text(value);
                        for (key in data.errors){
                            var element = jQuery("#" + key);
                            // do something with the error message here.
                        }
                    }
                },
                error: function(data, status){
                    console.log("Ajax error!");
                },
                dataType: "json"
            });
            return indicator;
        },
        calculate_totals = function () {
            var table = jQuery("#items"),
                tax_rate = parseFloat(table.find("span.tax_rate").text())/100,
                subtotal = tax = total = 0;
            table.find("tr.item-row").each(function () {
                var row = jQuery(this),
                    ext = parseFloat(row.find("td.ext_price").text()),
                    taxable_row = row.find("td.taxable"),
                    taxable_row_input = taxable_row.find(":input"),
                    taxable;
                if (taxable_row_input.length) {
                    taxable = taxable_row_input.attr("value");
                }
                else{
                    taxable = taxable_row.text();
                }
                taxable == "Y" ? tax += ext * tax_rate : tax += 0;
                subtotal += ext;
            });
            total = tax + subtotal;
            table.find("td.total-value.subtotal").text(subtotal.toFixed(2));
            table.find("td.total-value.tax").text(tax.toFixed(2));
            jQuery(".total-value.total").text(total.toFixed(2));
        }

    jQuery(".edit:not(.area):not(.taxable)").editable(ajaxEdit, {
        indicator:indicator,
        placeholder:''
    });
    jQuery(".edit.taxable").editable(ajaxEdit, {
        type:"select",
        data:{'Y':'Y', 'N':'N'},
        onblur:"submit"
    });
    jQuery(".edit.area").editable(ajaxEdit, {
        type:'textarea',
        rows:3,
        placeholder:'',
        submit:'Accept Changes',
        cancel:'Cancel',
        data: function(value, settings) {
            /* Convert <br> to newline. */
            var retval = value.replace(/<br[\s\/]?>/gi, '\n');
            return retval;
        }
    });
    /*
    jQuery(".edit.nosave:not(.area)").editable(function(value, settings){return value;}, {placeholder:''});
    jQuery(".edit.area.nosave").editable(function(value, settings){return value;}, {
        type:'textarea',
        rows:3,
        placeholder:'',
        submit:'Accept Changes',
        cancel:'Cancel'
    });
    */
    jQuery("td.recalc").change(function(){
        var element = jQuery(this),
            price, quantity, ext_price;
        if (element.hasClass("price")){
            price = parseFloat(element.find("input").attr("value")).toFixed(2);
        }
        else {
            price = parseFloat(element.siblings("td.price").text()).toFixed(2);
        }
        if (element.hasClass("quantity")){
            quantity = parseFloat(element.find("input").attr("value")).toFixed(2);
        }
        else {
            quantity = parseFloat(element.siblings("td.quantity").text()).toFixed(2);
        }
        ext_price = price * quantity;
        element.siblings("td.ext_price").text(ext_price.toFixed(2));
        calculate_totals();
    });

    jQuery("#items tr.item-row").tooltip({
        tip: "#row-tools",
        delay: 750,
        predelay: 250,
        position: "top right",
        effect: "fade",
        offset: [15, -25],
        api: true,
        lazy: true,
        onBeforeShow: function(pos) {
            var row = this.getTrigger().closest("tr.item-row");
            jQuery("#trigger-row-id").attr("value", row.attr("id"));
        }
    });

    jQuery("#row-tools a.delete-button").overlay({
        target: "#confirm-delete",
        expose: {
            color: '#333',
            loadSpeed: 200,
            opacity: 0.9
        }
    });

    jQuery("#row-tools a.add-button").overlay({
        target: "#add-modal",
        expose: {
            color: '#333',
            loadSpeed: 200,
            opacity: 0.9
        },
        onBeforeLoad: function () {
            var container = this.getContent().find("table.container");
            container.load("{% url invoicer:add_line invoice.year invoice.number %}");
        }
    });

    jQuery("#confirm-delete button.confirm").click(function () {
        var id = jQuery("#trigger-row-id").attr("value"),
            row = jQuery("#" + id),
            td = row.find("td.delete"),
            checkbox = row.find("td.delete input:checkbox");
        checkbox.attr("checked", true);
        ajaxEdit.apply(td, ["DELETE"]);
    });
    jQuery("#id_{{ formset.management_form.TOTAL_FORMS.html_name }}").attr("value", rows.length);
    jQuery("#id_{{ formset.management_form.INITIAL_FORMS.html_name }}").attr("value", rows.length);
});
</script>
{% endblock %}

{% block content %}
    <div id="invoice-wrapper">
        <div id="logo">
            <img alt="{{invoice.company.name}}" src="{{invoice.company.logo.url}}" />

<br />
<div id="ctlText" class="xeditable" rel="32" title="Article Title">Editable Title</div>
<p id="ctlTextArea" class="xeditable textarea" title="Content Paragraph" rel="33">
  This is an editable paragraph.
    This is an editable paragraph.
    This is an editable paragraph.
    This is an editable paragraph.
</p>

        </div>
        <div id="header">
            <table>
                <tbody>
                <tr>
                    <td>
                        <div>{{invoice.location}}, {{invoice.invoice_date|date:"DATE_FORMAT"}}</div>
                        <div>Fattura n. {{invoice.number}}/{{invoice.year}}</div>
                        <br />
                        <div>Cliente:</div>
                        <div>{{invoice.client.name}}</div>
                        {% if invoice.client.vat_id %}
                            <div>{% trans 'VAT ID' %}: {{invoice.client.vat_id}}</div>
                        {% endif %}
                        {% if invoice.client.fiscal_code %}
                            <div>{% trans 'Fiscal Code' %}: {{invoice.client.fiscal_code}}</div>
                        {% endif %}
                        <div id="left_address" class="invoice_field area edit">{{invoice.left_address|linebreaksbr}}</div>
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        <div>{{invoice.client.name}}</div>
                        <div id="right_address" class="invoice_field area edit">{{invoice.right_address|linebreaksbr}}</div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="body">
            {{ formset.management_form }}
            <input type="hidden" id="trigger-row-id" value="" />
            <table id="items">
                <thead>
                <tr>
                    <th class="item" >&nbsp;</th>
                    <th class="price">Prezzo unitario</th>
                    <th class="quantity">Quantità</th>
                    <th class="ext_price">Prezzo totale</th>
                    <th class="taxable blank">{%if not compact%}Taxable{%endif%}</th>
                    <th class="delete blank"></th>
                </tr>
                </thead>
                <tbody>
                {% for form in formset.forms %}
                    <tr id="{{form.id.html_name}}" name="{{form.instance.id}}" class="item-row">
                        <!-- <td id="{{form.name.html_name}}" class="item text edit">{{form.initial.name}}<div id="{{form.description.html_name}}" class="description text edit">{{form.initial.description}}</div></td> -->
                        <td id="{{form.name.html_name}}" class="item area edit">{{form.initial.name|linebreaks}}</td>
                        <td id="{{form.price.html_name}}" class="numeric price edit recalc">{{ form.initial.price|floatformat:2 }}</td>
                        <td id="{{form.quantity.html_name}}" class="numeric quantity edit recalc">{{ form.initial.quantity }}</td>
                        <td class="numeric ext_price">{{ form.instance.ext_price|floatformat:2 }}</td>
                        <td id="{{form.taxable.html_name}}" class="taxable edit recalc {%if compact%}concealed{%endif%}">{{ form.initial.taxable|yesno:"Y,N" }}</td>
                        <td id="{{form.DELETE.html_name}}" class="delete">
                            <input type="checkbox" name="{{form.DELETE.html_name}}"></input>
                        </td>
                    </tr>
                {% endfor %}
                <tr><td colspan="4" class="blank">&nbsp;</td></tr>
                <tr>
                    <td class="blank"> </td>
                    <td colspan="2" class="total-line">Totale imponibile</td>
                    <td class="numeric total-value subtotal">{{ invoice.subtotal|floatformat:2 }}</td>
                    <td colspan="2" class="blank"> </td>
                </tr>
                <tr>
                    <td class="blank"> </td>
                    <td colspan="2" class="total-line">IVA (<span class="tax_rate">{{ invoice.company.tax_rate }}</span>%)</td>
                    <td class="numeric total-value tax">{{ invoice.tax|floatformat:2 }}</td>
                    <td colspan="2" class="blank"> </td>
                </tr>
                <tr>
                    <td class="blank"> </td>
                    <td colspan="2" class="total-line bold">TOTALE</td>
                    <td class="numeric total-value total bold">{{ invoice.total|floatformat:2 }}</td>
                    <td colspan="2" class="blank"> </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div id="terms">
            <br />
            <div>terms</div>
            <div>terms</div>
            <div>terms</div>
        </div>
        <div id="footer">
            {{ invoice.footer }}
        </div>
    <div>

    {% comment %}
    <form id="payment-status">
        <fieldset>
            <legend>Invoice Status</legend>
            <h3>{{ invoice.get_status_display }}</h3>
        </fieldset>
    </form>
    {% endcomment %}

    {% comment %}
    <div id="info">
        {% if invoice.terms.description %}<p class="edit area nosave">{{ invoice.terms.description }}</p>{% endif %}
        {% if stylesheet.misc_text %}<p class="edit area nosave">{{ stylesheet.misc_text }}</p>{% endif %}
        {% if stylesheet.feedback_text %}<p class="edit area nosave">{{ stylesheet.feedback_text }}</p>{% endif %}
        {% if stylesheet.thank_you_text %}<p class="edit area nosave">{{ stylesheet.thank_you_text }}</p>{% endif %}
    </div>
    {% endcomment %}

    <div id="confirm-delete" class="dialog">
        <h2>Delete Row</h2>
        <p>This row will be permanently deleted and cannot be recovered. Are you sure?</p>
        <p>
            <button class="close">Cancel</button>
            <button class="close confirm">Delete</button>
        </p>
    </div>

    <div id="add-modal" class="dialog">
        <form id="add-form" method="POST" action="{% url invoicer:add_line invoice.year invoice.number %}">
            <input type="hidden" name="invoice" value="{{ invoice.id }}" />
            <h2>Add Row</h2>
            <table class="container"></table>
            <p>
                <button class="close">Cancel</button>
                <button type="reset">Reset</button>
                <button type="submit" class="close confirm">Add</button>
            </p>
        </form>
    </div>

    <div id="row-tools" class="tooltip">
        <span><a href="#add" class="add-button">Add</a> | <a href="#delete" class="delete-button">Delete</a></span>
    </div>

{% endblock %}
